<div class="container">
    <div class="infos">
        <img src="https://avatars.githubusercontent.com/u/91613?v=4" alt="User Image">
        <h1 class="name">Derik Nyvo</h1>
        <p class="username">deriknyvo</p>

        <p class="bio">
            Visionary tech leader with 20 years software development experience.
        </p>

        <div class="followers">
            <mat-icon class="followers-icon">peoples</mat-icon>
            <span>15 seguidores · 36 seguindo</span>
        </div>
    </div>

    <div class="repositories">
        <p class="title">Repositórios</p>

        <div class="cards-repositories">
            <mat-card>
                <a href="#">robotframework.github.com</a>
                
                <p>
                    Forked from robotframework/robotframework.github.com
                    Robot Framework ecosystem from page
                </p>
    
                <div class="repo-infos">
                    <mat-chip-list>
                        <mat-chip selected>
                          CSS
                        </mat-chip>
                    </mat-chip-list>
        
                    <div class="stars">
                        <mat-icon class="icon">star_outline</mat-icon>
                        <span>15</span>
                    </div>
        
                    <div class="forks">
                        <mat-icon class="icon">device_hub</mat-icon>
                        <span>15</span>
                    </div>
                </div>
            </mat-card>

            <mat-card>
                <a href="#">robotframework.github.com</a>
                
                <p>
                    Forked from robotframework/robotframework.github.com
                    Robot Framework ecosystem from page
                </p>
    
                <div class="repo-infos">
                    <mat-chip-list>
                        <mat-chip selected>
                          CSS
                        </mat-chip>
                    </mat-chip-list>
        
                    <div class="stars">
                        <mat-icon class="icon">star_outline</mat-icon>
                        <span>15</span>
                    </div>
        
                    <div class="forks">
                        <mat-icon class="icon">device_hub</mat-icon>
                        <span>15</span>
                    </div>
                </div>
            </mat-card>

            <mat-card>
                <a href="#">robotframework.github.com</a>
                
                <p>
                    Forked from robotframework/robotframework.github.com
                    Robot Framework ecosystem from page
                </p>
    
                <div class="repo-infos">
                    <mat-chip-list>
                        <mat-chip selected>
                          CSS
                        </mat-chip>
                    </mat-chip-list>
        
                    <div class="stars">
                        <mat-icon class="icon">star_outline</mat-icon>
                        <span>15</span>
                    </div>
        
                    <div class="forks">
                        <mat-icon class="icon">device_hub</mat-icon>
                        <span>15</span>
                    </div>
                </div>
            </mat-card>

            <mat-card>
                <a href="#">robotframework.github.com</a>
                
                <p>
                    Forked from robotframework/robotframework.github.com
                    Robot Framework ecosystem from page
                </p>
    
                <div class="repo-infos">
                    <mat-chip-list>
                        <mat-chip selected>
                          CSS
                        </mat-chip>
                    </mat-chip-list>
        
                    <div class="stars">
                        <mat-icon class="icon">star_outline</mat-icon>
                        <span>15</span>
                    </div>
        
                    <div class="forks">
                        <mat-icon class="icon">device_hub</mat-icon>
                        <span>15</span>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>