<div class="layout">
  <app-toolbar [title]="'Buscar no GitHub'"></app-toolbar>
  
  <main class="mat-app-background">
    <app-search-input 
      (searchWord)="search($event)"
      (filters)="applyFilter($event)">
    </app-search-input>

    <div class="result">
      <div *ngIf="isLoading" class="loading">
        <mat-spinner diameter="50"></mat-spinner>
      </div>

      <div *ngIf="isShowResult">
        <app-result-list [listResults]="results"
          (favoriteItem)="favorite($event)"
          (unfavoriteItem)="unfavorite($event)"
          (archiveItem)="archive($event)"
          (unarchiveItem)="unarchive($event)">
        </app-result-list>

        <div class="loading-more-button">
          <div *ngIf="isLoadingMore" class="loading">
            <mat-spinner diameter="30"></mat-spinner>
          </div>

          <button *ngIf="isShowButtonLoadMore" mat-raised-button (click)="loadMore()" color="primary">Carregar mais</button>
        </div>
      </div>
    </div>
  </main>
</div>
