<div class="layout">
  <app-toolbar (changeTheme)="toogleTheme($event)"
    [title]="'Teste ZG Soluções'">
  </app-toolbar>
  
  <main class="mat-app-background">
    <app-search-input 
      (searchWord)="search($event)"
      (filters)="filter($event)">
    </app-search-input>

    <div class="result">
      <div *ngIf="isLoading" class="loading">
        <mat-spinner diameter="50"></mat-spinner>
      </div>

      <div *ngIf="isShowResult">
        <app-result-list [listResults]="results"></app-result-list>
      </div>
    </div>
  </main>
</div>
